<div style="display: flex; flex-direction: column; align-items: center">
  <h1>Instagram Information</h1>
  <div>
     <form>
        <md-input-container>
           <label>
           Enter handle: 
           </label>
           <input type="text" name="text" ng-model="handle"/>
        </md-input-container>
        <md-button class="md-raised" ng-click="ctrl.getInstagramInformation(handle)">
           Fetch 
        </md-button>
        <md-button class="md-raised md-primary" ng-if="ctrl.instagramInformation" ng-click="ctrl.postDiscordWebhook()">
        Discord Post 
        </md-button>
     </form>
  </div>
  <div ng-if="ctrl.instagramInformation" style="display: flex; flex-direction: column; align-items: center;">
     <!-- <img ng-src="{{ctrl.instagramInformation.profilePicture}}" /> -->
     <h2>Profile Picture</h2>

     <img ng-src="https://i.imgur.com/jotjSIy.jpg" />

     <h1>{{ctrl.instagramInformation.fullName}}</h1>
     <h2>{{ctrl.instagramInformation.biography}}</h2>
     <h3>{{ctrl.instagramInformation.followCount | number}} followers</h3>

     <div ng-if="ctrl.instagramInformation.allPosts.length > 0" style="display: flex; flex-direction: column; align-items: center;">
        <!-- <section class="carousel" aria-label="Gallery">
           <ol class="carousel__viewport">
              <div ng-repeat="slide in ctrl.mockedImages">
                 <li id="{{slide.id}}"
                    tabindex="0"
                    class="carousel__slide">
                    <div class="carousel__snapper"></div>
                    <img ng-src="{{slide.displayUrl}}" />
                 </li>
              </div>
           </ol>
        </section> -->

      <img width="50%" ng-src="https://i.imgur.com/ep9b0Ro.jpeg" />  
        
     </div>

     <div ng-if="ctrl.instagramInformation.allPosts.length">
      <img ng-src="{{ctrl.instagramInformation.allPosts.displayUrl}}" />  
    </div>

    <h4>Likes: {{ctrl.instagramInformation.likeCount.count | number}}</h4>
    <h4>Comments: {{ctrl.instagramInformation.commentCount | number}}</h4>
    <h4>Post Type: {{ctrl.instagramInformation.postType}}</h4>
  </div>


</div>